$darkColor: rgb(33, 37, 41);
$facebookColor: rgb(71, 144, 255);
$instagramColor: rgb(255, 137, 59);
$discordColor: rgb(113, 123, 255);

@mixin round-btn($color) {
    background-color: $color;
    border-color:$color;
    border-style: solid;
    color: white;
    padding: 0.8rem 1.5rem;
    text-align: center;
    font-size: 1.15rem;
    border-radius: 2rem;
    transition-duration: 0.3s;
    line-height: 1.5rem;
    &:hover {
        box-shadow: 0 0.5em 0.5em -0.4em black;
        transform: translateY(-0.25em);
    }
}

@mixin big-text {
    font-size: 4rem;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

p {
    font-size: 20px;
    font-weight: 300;
    
}

.p-white {
    color: white;
}

.black-container {
    background-color: $darkColor;
    padding-top: 5rem;
}

.home-width {
    width: 62.5%;
}

svg {
    display:inline-block;
    color:white;
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
    vertical-align: bottom;
    
}

.navbar {
    /* box-shadow: 0rem .25rem 0.5rem rgba(124, 124, 124, 1); */
    height: 3.5rem;
} 

#navbarScroll {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


.nav-item {
    margin-right: 2rem;
    transition: 0.3s;
    &:hover{
        transform: translateY(0.3em);
    }
}


.img-small {
    height: 2rem;
}

.card {
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem 0.03rem rgba(0, 0, 0, 0.137);
} 


.bottom-card{
    background-color:white;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem;
}

.image-card {
    transition: 0.3s;
    border-radius: 1rem;
    box-shadow: 0rem 0.2rem 1rem 0.3rem rgb(15, 15, 15);
    &:hover {
        transform: translateY(-0.3em);
    }
}


.card-img-top {
    height: 11.5rem; 
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    box-shadow: 0rem 0.2rem 0.5rem 0.1rem rgb(24, 24, 24);
}

.active {
    border-bottom: 2px solid white;
    color: yellow;
}

.noBlue {
    color:inherit;
    text-decoration: none;
}

.text-input {
    border-radius: 2rem;
    border-style: solid;
    border-color:rgba(124, 124, 124, 1);
    line-height: 1.5rem;
    font-size: 1.15rem;
    padding: 0.8rem 1.5rem;
    &:focus {
        outline: none;
    }
}

.big-text-facebook {
    text-shadow: 0rem 0rem 0.5rem rgba(62, 152, 255, 0.6);
    background: linear-gradient(rgb(50, 224, 255), rgb(26, 98, 255));
    @include big-text();
}

.big-text-instagram {
    text-shadow: 0rem 0rem 0.5rem rgba(255, 252, 62, 0.4);
    background: linear-gradient(rgb(255, 184, 32), rgb(255, 58, 32), rgb(136, 32, 255));
    height:5rem;
    @include big-text();
}

.big-text-discord {
    text-shadow: 0rem 0rem 0.5rem rgba(168, 62, 255, 0.6);
    background: rgb(109, 83, 255);
    @include big-text();
}

.round-btn-facebook {
    @include round-btn($facebookColor)
}


.round-btn-instagram {
    @include round-btn($instagramColor)
}

.round-btn-discord {
    @include round-btn($discordColor)
}


